# Credentials and Environment Variables (CRITICAL)
.env

# Python caching 
__pycache__/
*.pyc
.pytest_cache/

# Local Data Storage
data/

# Allow and track everything inside data/raw/ and data/processed/
!data/raw/
!data/raw/**
!data/processed/
!data/processed/**

# System files
.DS_Store
Thumbs.db

# Ignore log files
*.log

